.container{
    background-color: blueviolet;
    padding: 50px;
    display: flex;
}

.left{
    flex: 2;
background-color: rgb(219, 223, 24);

}

.table{
    background-color: blue;
    width: 100%;
    border-spacing: 20px;
}

.imgContainer{
    width: 100px;
    height: 100px;
    position: relative;
}

.right{

    flex: 1;

background-color: brown;
}

